.form-control, .form-control:focus {
  background-color: transparent;
  color: white;
  max-width: 80%;
  margin: 0 auto;
}

option {
  background-color: black;
}

.star-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
