.form-control, .form-control:focus {
  background-color: transparent;
  color: white;
}

.star-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
