.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.square {
  width: 25vw;
  height: 25vw;
  max-width: 135px;
  max-height: 135px;
  margin: .5rem;
  border: 2px solid maroon;
  border-radius: 0.5em;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.enlarge {
  width: 30vw;
  height: 30vw;
  max-width: 150px;
  max-height: 150px;
  margin: -0.2rem .25rem 0.25rem 0.25rem;
  border-width: 4px;
}

.star-button {
  position: absolute;
  top: 0;
}

.text-black {
  color: black;
}

.rate-num, .own-bottle {
  color: black;
  position: absolute;
  left: 0.3em;
  bottom: 0.1em;
}

.bottle-rank {
  text-align: center;
  font-size: 1.3em;
}
