.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.square {
  width: 25vw;
  height: 25vw;
  margin: 2vw;
  border: 2px solid maroon;
  border-radius: 0.5em;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.star-button {
  position: absolute;
  top: 0;
}

.text-black {
  color: black;
}

.rate-num {
  color: black;
  position: absolute;
  left: 0.3em;
  bottom: 0.1em;
}
