.bottle-placeholder {
  background-color: #ed0a41;
  width: 35vw;
  height: 35vw;
  max-width: 200px;
  max-height: 200px;
  border-radius: 0.5em;
  margin: 30px auto 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottle-placeholder-text h5 {
  font-size: 1.2em;
}

.bottle-placeholder-text h1 {
  font-size: 2.5em;
}
