.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
}

.footer-icon {
  font-size: 12px;
  text-align: center;
}

.footer-icon .MuiSvgIcon-root {
  font-size: 3em;
}

.footer-link {
  color: white;
}

.footer-link:hover {
  color: white;
  text-decoration: none;
}
