.card {
  border: 2px solid white;
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: .25rem;
  margin: 1em auto;
}

.card-body {
  padding: .2rem;
}

.card-body > h6 {
  margin-top: .5em;
  color: white;
}

.btn {
  margin: 5px auto;
  display: block;
}

.is-host {
  color: maroon;
  position: absolute;
  left: 0.3em;
  top: 0.1em;
}

.is-host .MuiSvgIcon-root {
  font-size: 3em;
}
