.card {
  border: 2px solid gray;
  background-color: rgba(128, 128, 128, 0.15);
  border-radius: .25rem;
  margin: 1em auto;
}

.host-card {
  border-color: maroon;
  background-color: rgba(128, 0, 0, 0.15);
}

.card-body {
  padding: .2rem;
}

.card-body > h6 {
  margin-top: .5em;
  color: gray;
}

.btn {
  margin: 5px auto;
  display: block;
}
