.home-icons {
  text-align: center;
}

.home-icons .MuiSvgIcon-root {
  font-size: 3.5em;
  color: rgba(128, 0, 0, 0.6);
}

#white-wine {
  color: rgba(255, 255, 255, 0.9);
}

#rose-wine {
  color: rgba(205, 92, 92, 0.9);
}
