body {
  background-color: #1d1930;
  color: white;
  padding-bottom: 30px;
  margin-bottom: 50px;
}

h1, h2, h3, h4, h5, h6 {
  color: white;
  text-align: center;
}

label {
  color: white;
  margin-top: 0.1em;
  font-weight: bold;
  padding-left: 10%;
}

input {
  margin-bottom: 0.5em;
}

.btn-danger {
  background-color: #ed0a41;
}

img {
  max-width: 100%;
  height: auto;
}
