.img-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 1.1em auto;
  max-width: 100%;
}

.mw-table {
  max-width: 80%;
  margin: 0 auto;
}
